// Place all the styles related to the registros controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-primary {
  color: white !important;
}
.btn-danger {
  color: white !important;
}
.btn-success {
  color: white !important;
}
.margem_dir{
  padding-right: 15px;
}
.linha{
  background-color: yellow;
}
